# IntelliJ project files
.idea
*.iml
.ipynb_checkpoints/
**/*.pyc
out
gen
.vscode
data/
ckpt/
run/
multi_task_ckpt/
multi_task_run/
pretrained/
__MACOSX/
**/._.DS_Store
submit/
old_ckpt/
old_run/
old_multi_task_ckpt/
old_multi_task_run/
**/*.ipynb
best_ckpt/